.invisivel{
    display:none;
  }
  .visivel{
    display:inline;
  }
  .inicial {
    text-align: center;
    font-size: 100px;
    background-color: lightgrey;
    width: 150px;
    height: 200px;
    border: 5px solid green;
    padding: 10px;
    margin: 20px;
    border-radius: 50px;
    transition: transform 0.3s ease;
  }
  .inicial:hover{
    transform: translate(0px, -10px);
  }
  .acertou {
    text-align: center;
    color: yellow;
    background-color: LawnGreen;
    width: 150px;
    height: 200px;
    border: 5px solid yellow;
    padding: 10px;
    margin: 20px;
    border-radius: 50px;
    font-size: 0px;
  }
  .errou {
    text-align: center;
    font-size: 0px;
    background-color: red;
    width: 150px;
    height: 200px;
    border: 5px solid black;
    padding: 10px;
    margin: 20px;
    border-radius: 50px;
  }
  img{
    text-align: center;
    margin-top: 50px;
  }